@font-face {
  font-family: "robotoBold";
  src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "robotoRegular";
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-display: swap;
}

:root {
  --primary-clr: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "robotoRegular", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--Charcoal-Grey);
}

p {
  font-size: calc(1rem + 0.3vw);
  margin-block: 0.5rem;
}

form {
  width: 70vw;
  background-color: white;
  color: black;
  display: flex;
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
}

.formLeft {
  padding: calc(1rem + 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftTop h1 {
  font-size: 35px;
  margin-bottom: 1rem;
}

.leftTop p,
.leftTop ol {
  margin-block: 1rem;
}

.leftTop ol {
  list-style-position: inside;
  list-style-image: url(./assets/images/icon-list.svg);
}

.leftTop ol li {
  padding-block: 0.3rem;
}

.leftBottom {
  padding-top: 1rem;
  width: 100%;
}

.leftBottom input {
  margin-block: 0.5rem 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  outline-color: var(--Grey);
  border: 1px solid var(--Grey);
  background-color: transparent;
}

input.error {
  background-color: rgba(255, 0, 0, 0.253);
  color: red;
}

.leftBottom button {
  width: 100%;
  padding: 1rem;
  background-color: var(--Dark-Slate-Grey);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.formRight {
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  width: 80%;
  min-height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.label {
  display: flex;
  justify-content: space-between;
}

.label span {
  font-size: calc(4px + 1vw);
}

.attribution {
  position: absolute;
  bottom: 4px;
  color: var(--White);
}

.attribution a {
  color: var(--primary-clr);
}

#confirmationMessage {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.959);
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  justify-content: center;
}

.message {
  width: 50%;
  min-height: 30%;
  background-color: var(--White);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
}

.message p {
  margin-block: 1rem;
}

#dismissBtn {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--Dark-Slate-Grey);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  form {
    padding: 0;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }

  .formRight {
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    width: 100%;
    background-size: cover;
    background-color: red;
  }

  .formLeft {
    padding-inline: 4vw;
  }

  .leftTop ol {
    list-style-position: outside;
    padding-inline: 4vw;
  }

  .message {
    width: 80%;
    min-height: 50%;
    border-radius: 10px;
  }
}
